*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    color: white;
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #141416;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 26px;
}
.ancor{
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.ancor a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 25px; 
}
.ancor a:hover{
    color: #fd6262;
}
.iconlog{
    display: flex;
    gap: 9px;

}
a i{
   font-size: 25px;
   color: #fd6262;
}
a p{
    color: #fd6262;
}
.nav-buton{
    border: 1px solid #898989;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 15px;
    margin-right: 40px;
}
.nav-buton:hover{
    background-color: #7686C6;
    border: none;
}

/* hero-section */
#hero-section{
    height: 100vh;
    margin-left: 30px;
    margin-top: 60px;
}
.head1{
    font-size: 66px;
    width: 55%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head2{
    font-size: 25px;
    width: 38%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-buton{
  background-color: #fd6262;
  color:black ;
  border-radius: 5px;
  padding: 15px 25px ;
  border: none;
  font-size: medium;
}
.hero-buton:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
/* about */

#about{
 display: flex;
 margin-left: 28px; 
 
}
.about-left{
    border: 1px solid #898989;
    height: 100vh;
    width: 40vw;
    background-image: url(/images/about-left.avif);
    background-size: cover;

}
.about-left h1{
  width: 70%;
  font-size: 40px;
  margin: 150px 0px 0px 60px;
}
.about-left p{
  width: 55%;
  font-size: 20px;
  margin-left: 60px;
  line-height: 30px;
  color:#898989 ;
}

.about-right{
  border: 1px solid #898989;
   height: 100vh;
    width: 50vw;
    display: flex;
    border-left: none;
}
.right-box1{
    height: 320px;
    width: 240px;
    border-radius: 5px;
    background-color: #1b1c1e;
    
}
.box1{
position: relative;
    top: 20px;
    left: 15px;
}
.box1 h3{
    color: #7686C6 ;
    margin-top: 40px;
    width: 60%;
}
.box1 p{
    color:#898989 ;
    width: 73%;
}
.box-line{
    border-bottom: 5px solid #898989 ;
    width: 80%;
    border-radius: 5px;
}
.about-boxes{
    position: relative;
    top: -100px;
    left: 40px;
}
.about-boxes2{
    position: relative;
    top: 20px;
    left: 60px;
}
/* about-contant */
#about-contant{
   display: flex;
   margin-top: 150px;
   margin-left: 25px;
}
.contant-left{
 height: 100vh;
 width: 45vw;
 border: 1px solid #898989;
  background-image: url(/images/contant-left.avif);
  background-size: cover;
  background-position: center;

}
.contant-left h1{
  font-size: 40px;
  width: 80%;
  text-align: center;
  margin-top:250px;
  margin-left: 50px;
}
.contant-right{
 height: 100vh;
 width: 45vw;
 border: 1px solid #898989;
 border-left: none;
 
}
.contant-right p{
    font-size: large;
    color:#898989 ;
    width: 60%;
    margin-left: 100px;
    margin-top: 70px;

}
.contant-button{
    padding: 20px 30px;
    font-size: medium;
    background-color: #fd6262;
    color: black;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
}
.contant-button:hover{
    border: 1px solid white;
    background-color: black;
    color: white;
    
}
/* main */
.main-head{
   text-align: center;
   margin-top: 70px;
}
.main-num{
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 100px;
}
.num1{
    text-align: center;
}
.num1 h1{
  font-size: 60px;
  color: #fd6262;
}
.num1 p{
  font-size: large;
  color: #898989;
}
.num1 div{
    border: 3px solid #898989;
  border-radius: 5px;
  width: 180px;
}
/* main-img */
#main-img{
    margin-top: 30px;
    border: none;
    background-image: url(/images/main-img.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
/* partners */
#partners{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.partner-list{
width: 100px;
height: 50px;
border: 1px solid #898989 ;
text-align: center;
padding: 50px;
}
.partner-list{
    height:100px;
}
#partner-list{
    width: 104px;
}
#partner-contant{
  display: flex;
  justify-content: center;
  
}
.partner-left{
    height: 100vh;
    width: 47.5%;
    border: 1px solid  #898989 ;
    /* margin-left: px; */
     display: flex;
    justify-content: center;
    align-items: center;
    border-top:none;
}
.partner-left h1{
    text-align: center;
    font-size: 30px;
}
.partner-right{
    height: 100vh;
    width: 32%;
    border: 1px solid  #898989 ;
     border-top:none;

}
.partner-right p{
  font-size: large;
  color: #898989;
  width: 70%;
  margin-top: 220px;
  margin-left: 60px;
}
.partner-right button{
    padding:20px 30px ;
    background-color: #fd6262;
    color: black;
    font-size: medium;
    border-radius: 5px;
    border: none;
    margin-left: 60px;
}
.partner-right button:hover{
    border: 1px solid white;
    background-color: black;
    color: white;
    
}
/* footer */
.footer{
    background-color: #141416;
    height: 100vh;
    display: flex;
}
.footer1{
    
    margin-top: 60px;
    margin-left: 130px;
}
.foot-1{
    display: flex;
    align-items: center;
    margin-top: 50px;  
}
.li{
    margin-top: 40px;
    font-size: large;
    list-style: none;
    color: #898989;
}
.footer2{
    margin-top: 78px;
    margin-left: 130px;
    list-style: none;
}
.footer2 li{
    font-size: 28px;
    color: #898989;
    margin-top: 35px;
}
.footer2 button{
    padding: 10px 40px;
    font-size: medium;
    width: 100%;
    color: black;
    background-color: #fd6262;
    border: none;
    border-radius: 5px;
}
.footer3{
    margin-top: 120px;
    margin-left: 130px;
    color: #898989;
}
#search{
    height: 40px;
    width: 250px;
    background-color: #1b1c1e;
     color: #898989;
     border: 1px solid #898989 ;
     border-radius: 5px;
     text-align: center;
}
#en{
    height: 20px;
    width: 20px;
    filter: invert(1);
    border: 1px solid #898989;
}
.footer3 button{
   padding: 10px  38px;
   font-size: large;
   border: 1px solid #898989 ;
   background-color: #1b1c1e;
   color: #898989;
   border-radius: 5px;
}
.footer4{
    margin-top: 120px;
    margin-left: 110px;
    color: #898989;
}
.footer-icons{
    font-size: 23px;
     
}
.footer4 p{
    width: 48%;
    margin-top: 200px;
}

/* Responsive Styles */

/* Tablet and below (max-width: 1024px) */
@media (max-width: 1024px) {
    #navbar {
        padding: 10px 15px;
    }
    .logo {
        margin-left: 10px;
    }
    .ancor {
        padding: 15px 10px;
        gap: 15px;
    }
    .ancor a {
        font-size: 16px;
        margin-left: 15px;
    }
    .nav-buton {
        padding: 12px 20px;
        margin-right: 20px;
        font-size: 14px;
    }
    
    #hero-section {
        margin-left: 20px;
        margin-top: 40px;
        height: auto;
        min-height: 70vh;
    }
    .head1 {
        font-size: 48px;
        width: 70%;
    }
    .head2 {
        font-size: 20px;
        width: 60%;
    }
    
    #about {
        flex-direction: column;
        margin-left: 0;
    }
    .about-left {
        width: 100%;
        height: auto;
        min-height: 60vh;
        padding: 40px 30px;
    }
    .about-left h1 {
        width: 90%;
        font-size: 32px;
        margin: 40px 0 20px 0;
    }
    .about-left p {
        width: 90%;
        font-size: 18px;
        margin-left: 0;
    }
    .about-right {
        width: 100%;
        height: auto;
        min-height: auto;
        flex-direction: column;
        padding: 40px 20px;
        border-top: 1px solid #898989;
        border-left: 1px solid #898989;
    }
    .about-boxes {
        top: 0;
        left: 0;
        position: relative;
    }
    .about-boxes2 {
        top: 0;
        left: 0;
        position: relative;
        margin-top: 20px;
    }
    .right-box1 {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px;
    }
    
    #about-contant {
        flex-direction: column;
        margin-top: 50px;
        margin-left: 0;
    }
    .contant-left {
        width: 100%;
        height: auto;
        min-height: 50vh;
        padding: 40px 20px;
    }
    .contant-left h1 {
        font-size: 32px;
        width: 100%;
        margin: 40px 0 0 0;
    }
    .contant-right {
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 40px 30px;
        border-top: 1px solid #898989;
        border-left: 1px solid #898989;
    }
    .contant-right p {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .contant-button {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .main-num {
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
    }
    .num1 {
        flex: 1 1 180px;
        min-width: 150px;
    }
    .num1 h1 {
        font-size: 48px;
    }
    .num1 div {
        width: 100%;
        max-width: 150px;
    }
    
    #main-img {
        height: 300px;
    }
    
    #partners {
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
    }
    .partner-list {
        flex: 1 1 200px;
        min-width: 150px;
        max-width: 250px;
        padding: 30px 20px;
    }
    
    #partner-contant {
        flex-direction: column;
    }
    .partner-left {
        width: 100%;
        height: auto;
        min-height: 40vh;
        padding: 40px 20px;
    }
    .partner-left h1 {
        font-size: 26px;
    }
    .partner-right {
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 40px 30px;
        border-top: 1px solid #898989;
        border-left: 1px solid #898989;
    }
    .partner-right p {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .partner-right button {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .footer {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
    }
    .footer1, .footer2, .footer3, .footer4 {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
    .footer2 button {
        max-width: 300px;
    }
    .footer4 p {
        width: 100%;
        margin-top: 30px;
    }
}

/* Mobile devices (max-width: 768px) */
@media (max-width: 768px) {
    #navbar {
        flex-wrap: wrap;
        padding: 10px;
    }
    .logo {
        margin-left: 10px;
    }
    .logo h2 {
        font-size: 18px;
    }
    .ancor {
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }
    .ancor a {
        font-size: 14px;
        margin-left: 10px;
    }
    .nav-buton {
        padding: 10px 15px;
        margin-right: 0;
        font-size: 12px;
    }
    
    #hero-section {
        margin-left: 15px;
        margin-top: 30px;
        min-height: 60vh;
        padding: 20px 0;
    }
    .head1 {
        font-size: 32px;
        width: 90%;
    }
    .head2 {
        font-size: 16px;
        width: 85%;
    }
    .hero-buton {
        padding: 12px 20px;
        font-size: 14px;
    }
    
    .about-left {
        padding: 30px 20px;
        min-height: 50vh;
    }
    .about-left h1 {
        font-size: 24px;
        margin: 20px 0 15px 0;
    }
    .about-left p {
        font-size: 16px;
        line-height: 24px;
    }
    .about-right {
        padding: 30px 15px;
    }
    .right-box1 {
        height: auto;
        min-height: 250px;
    }
    .box1 {
        top: 15px;
        left: 15px;
        padding-right: 15px;
    }
    .box1 h3 {
        font-size: 18px;
        margin-top: 20px;
    }
    .box1 p {
        font-size: 14px;
    }
    
    .contant-left {
        padding: 30px 20px;
        min-height: 40vh;
    }
    .contant-left h1 {
        font-size: 24px;
        margin: 20px 0 0 0;
    }
    .contant-right {
        padding: 30px 20px;
    }
    .contant-right p {
        font-size: 15px;
    }
    .contant-button {
        padding: 15px 25px;
        font-size: 14px;
    }
    
    .main-head {
        font-size: 24px;
        margin-top: 40px;
        padding: 0 20px;
    }
    .main-num {
        gap: 15px;
        margin-top: 30px;
        padding: 0 15px;
    }
    .num1 {
        flex: 1 1 140px;
    }
    .num1 h1 {
        font-size: 36px;
    }
    .num1 p {
        font-size: 14px;
    }
    .num1 div {
        max-width: 120px;
    }
    
    #main-img {
        height: 250px;
        margin-top: 20px;
    }
    
    #partners {
        padding: 15px;
        gap: 10px;
    }
    .partner-list {
        flex: 1 1 140px;
        padding: 20px 10px;
        min-height: 80px;
    }
    .partner-list img {
        max-width: 100%;
        height: auto;
    }
    
    .partner-left {
        padding: 30px 20px;
        min-height: 35vh;
    }
    .partner-left h1 {
        font-size: 22px;
    }
    .partner-right {
        padding: 30px 20px;
    }
    .partner-right p {
        font-size: 15px;
    }
    .partner-right button {
        padding: 15px 25px;
        font-size: 14px;
    }
    
    .footer {
        padding: 30px 15px;
    }
    .footer1, .footer2, .footer3, .footer4 {
        margin-top: 25px;
    }
    .foot-1 {
        margin-top: 0;
    }
    .footer2 li {
        font-size: 20px;
        margin-top: 20px;
    }
    .footer3 h3, .footer4 h3 {
        font-size: 18px;
    }
    #search {
        width: 100%;
        max-width: 100%;
    }
    .footer-icons {
        font-size: 20px;
    }
}

/* Small mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    .logo h2 {
        font-size: 16px;
    }
    .ancor a {
        font-size: 12px;
        margin-left: 8px;
    }
    .nav-buton {
        padding: 8px 12px;
        font-size: 11px;
    }
    
    #hero-section {
        margin-left: 10px;
        margin-top: 20px;
    }
    .head1 {
        font-size: 24px;
        width: 95%;
    }
    .head2 {
        font-size: 14px;
        width: 90%;
    }
    .hero-buton {
        padding: 10px 18px;
        font-size: 12px;
    }
    
    .about-left {
        padding: 25px 15px;
    }
    .about-left h1 {
        font-size: 20px;
    }
    .about-left p {
        font-size: 14px;
        line-height: 22px;
    }
    .box1 h3 {
        font-size: 16px;
    }
    .box1 p {
        font-size: 12px;
    }
    
    .contant-left h1 {
        font-size: 20px;
    }
    .contant-right p {
        font-size: 14px;
    }
    
    .main-head {
        font-size: 20px;
    }
    .main-num {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .num1 {
        width: 100%;
        max-width: 200px;
    }
    .num1 h1 {
        font-size: 32px;
    }
    
    #main-img {
        height: 200px;
    }
    
    .partner-list {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .partner-left h1 {
        font-size: 20px;
    }
    .partner-right p {
        font-size: 14px;
    }
    
    .footer2 li {
        font-size: 18px;
    }
    .footer3 h3, .footer4 h3 {
        font-size: 16px;
    }
    .footer4 p {
        font-size: 12px;
    }
}

/* Large screens (min-width: 1440px) */
@media (min-width: 1440px) {
    .head1 {
        font-size: 72px;
    }
    .head2 {
        font-size: 28px;
    }
    .about-left h1 {
        font-size: 44px;
    }
    .contant-left h1 {
        font-size: 44px;
    }
    .main-head {
        font-size: 52px;
    }
    .num1 h1 {
        font-size: 64px;
    }
}
